doctype html
html
  head
    title= title
    block meta
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-2.1.1.js")
    block scripts
  body
    block content