body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.entry {
    display: block;
}

.game, .control {
    display: none;
}

#gameCanvas {
    margin: auto;
    border: 1px solid black;
}

.error {
    display: none;
    color: #ff0000;
    font-size: 16px;
    margin: 5px;
}

svg:not(:root) {
    display:block;
}
.garden {
    position: relative;
    width : 200px;
    height: 200px;
    margin: auto;
    border: 5px solid #CCC;
    border-radius: 10px;
}

.ball {
    position: absolute;
    top : 90px;
    left : 90px;
    width : 20px;
    height: 20px;
    background: green;
    border-radius: 100%;
}