body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.entry {
    display: block;
}

.game, .control {
    display: none;
}

#gameCanvas {
    margin: auto;
    border: 1px solid black;
}

.error, .detect {
    display: none;
    color: #ff0000;
    font-size: 16px;
    margin: 5px;
}

svg:not(:root) {
    display:block;
}
.garden {
    position: relative;
    width : 200px;
    height: 200px;
    margin: auto;
    border: 5px solid #CCC;
    border-radius: 100%;
}

.ball {
    position: absolute;
    top : 90px;
    left : 90px;
    width : 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 100%;
}

.colors {
    position: relative;
    margin: auto;
}

.colors :nth-child(1) {
    background-color: #ff0000;
}

.colors :nth-child(2) {
    background-color: #00ff00;
}

.colors :nth-child(3) {
    background-color: #0000ff;
}

.colors :nth-child(4) {
    background-color: #000000;
}

.sphereColor {
    margin: 14px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 0 solid black;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.checked {
    border: 1px solid yellow;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}